/* Estilos generales */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2f3d8c; /* Azul medio institucional */
    color: #ffffff;
    font-size: 3vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    height: 80px;
}

/* Estilo para los logos */
.logo-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo-container img {
    height: auto;
    max-height: 65px;
    max-width: 100%;
    width: auto;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.logo-container img:nth-child(2) {
    margin-left: 50px;
}

.logo-animate {
    transform: scale(1.1);
    opacity: 1;
}

/* Contenedor del menú */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-right: 100px;
}

/* Estilos de las opciones del menú */
.header-options {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: #6f3ab2; /* Púrpura claro */
    font-size: 0.9rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    white-space: nowrap;
}

.nav-item:hover {
    background-color: #ffdd57; /* Amarillo cálido para hover */
    color: #2f3d8c;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

/* Menú de opciones */
.menu-options {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-70%);
    background-color: #f9fafc;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    width: max-content;
    display: none;
}

.menu-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-options li {
    padding: 12px 0;
    color: #333;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-options li:hover {
    background-color: #6f3ab2;
    color: white;
}

/* Contenedor de la foto de perfil */
.user-photo-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen dentro del contenedor */
.user-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Estilos para el modal de confirmación */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
}

.modal-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    z-index: 10000;
}

.modal-container h2 {
    color: #2f3d8c;
    font-size: 18px;
}

/* Botones del modal */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-cancel, .btn-confirm {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel {
    background-color: #e74c3c;
    color: white;
}

.btn-cancel:hover {
    background-color: #c0392b;
}

.btn-confirm {
    background-color: #6f3ab2; /* Botón institucional */
    color: white;
}

.btn-confirm:hover {
    background-color: #4f2a8c;
}

/* Media Queries */

@media (min-width: 1024px) {
    .dashboard-header {
        margin-top: 0%;
    }

    .navbar-container {
        justify-content: center;
    }

    .header-options {
        display: flex;
        justify-content: center;
    }

    .user-info {
        font-size: 1rem;
        text-align: right;
    }

    .user-info p {
        font-size: 0.78rem;
    }
}

@media (max-width: 1024px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }

    .logo-container img {
        height: 60px;
    }

    .header-options {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .nav-item {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .user-info {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }

    .user-info p {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .logo-container {
        margin-left: 5%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo-container img {
        max-height: 50px;
        height: auto;
        width: auto;
    }

    .header-options {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 20%;
        font-size: 20px;
    }

    .header-center {
        justify-content: center;
        margin-right: 20%;
        font-size: 10px;
    }

    .nav-item {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .user-info {
        font-size: 11px;
        text-align: center;
        margin-top: 5px;
    }

    .user-info p {
        font-size: 11px;
        text-align: center;
    }
}
